/* --------------media---------------- */
    
@media screen and (max-height: 950px){
    .timer-cont {
        padding: 10px 10px 25px;
    }

    .timer {
        margin: 5% auto;
        font-size: 50pt;
    }

    .control-btns button{
        padding: 5px;
    }

}

@media screen and (max-width: 1150px) {
    
    .todo-app button {
        display: none;
    }

    ul li {
        font-size: 15px;
    }

    ul li span {
        font-size: 18px;
        top: 0;
    }
}


@media screen and (max-width: 900px) {
    .all-task {
        display: none;

    }
    .write-col {
        display: none;
    }
    .main-col {
        width: 90%;
    }
    .todo-app button {
        display: none;
    }
}
